.plano{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    
}
.plano > p{
    padding-right: 10px;
    color: #fff;
}
.cardInicial{
    padding: 10px;
    background-color: #121212;
    border-style: none;
    margin-bottom: 20px;
    
}
