.div{
    background: #fff;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div > ion-icon{
    color:#f80000;
    font-size: 33px;
    
}
.ion-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1px;
    border-radius: 40px 10px 10px 40px;  
    box-shadow:0px 0px 10px 2px #000000;
}
.ion-card > ion-card-title{
    padding-left: 10px;

}
.ion-card-button{
    margin-top:-15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    background:none;
    height: 100px;
    width: auto;
}
.headerprincipal > ion-toolbar{
    --background:#ff0000;
    border-radius: 0px 0px 15px 15px;
}
ion-col {
    color: #fff;
    text-align: center;
  }
ion-fab-button {
    
    --width:20px;
    --background: #fff;
    --background-activated: #87d361;
    --background-hover: #a3e681;
    border-radius: 50%;
    --box-shadow: 0px 1px 10px 3px #000000;
    --color: black;
  }

  ion-button{
    --background:#ff0000;
    color:#fff;
    font-weight: bold;
  }