.card-content {
    display: flex;
    align-items: center;  /* Alinha os itens verticalmente ao centro */
  }
  
  .card-image {
    min-width: 120px; /* Defina o tamanho minimo desejado para a imagem */
    height: 100px;
    object-fit: cover;     /* Faz com que a imagem se ajuste sem distorção */
    margin-right: 16px;    /* Espaçamento entre a imagem e o texto */
    
    overflow: hidden  
  }

  ion-card ion-img.card-image {
    --border-radius: 20px 0 20px 0; /* Arredonda as bordas */
    /* Outros estilos... */
  }
  .text-content {
    display: flex;
    flex-direction: column; /* Deixa os textos um abaixo do outro */
  }
  .serie{
    --background:#f00000;
    --color:#fff;
    max-width: 50px;
    
  }
  .tag{
    --background:#000000;
    --color:#fff;
    max-width: 85px
  }
  .buttonMore{
    width: 90px;
    --background: #fff;
    --color:#000000;
  }
  ion-toolbar{
    --background: #ff0000;
    border-radius: 0px 0px 15px 15px;
  }
  .verInfoButton{
    width: 120px;
    --color:#fff;
    --background:#121212;
  }
  .div-img{
    display: flex;
    justify-content: center;
    width: 100%; /* Faz a imagem ocupar todo o contêiner */
    height: 100%; /* Faz a imagem ocupar todo o contêiner */
    object-fit: cover; /* Garante que a proporção seja mantida */

  }
  .div-img > ion-img {
    width: 100%; /* Faz a imagem ocupar todo o contêiner */
    height: 100%; /* Faz a imagem ocupar todo o contêiner */
    object-fit: cover; /* Garante que a proporção seja mantida */
    
    
  }
  .content {
      width: 100%; /* Ajuste o tamanho conforme necessário */
      overflow: hidden; /* Garante que a imagem respeite o contêiner */
      display: flex; /* Para centralizar a imagem, se necessário */
      align-items: center;
      justify-content: center;
      --background: #121212;
      --color:#fff
  }