.headerprincipal>ion-toolbar {
    --background: #ff0000;
    border-radius: 0px 0px 15px 15px;
}

ion-content {
    --background: #121212;
}

ion-toolbar {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
}
.button-submit{
    --background:#ff0000
}