<ion-grid [fixed]="true">
  <ion-row>
    <ion-col><ion-card>
        
          <ion-card-title>1.93m</ion-card-title>
          <ion-card-subtitle>Altura</ion-card-subtitle>
      </ion-card></ion-col>
    <ion-col>
      <ion-card>
        
          <ion-card-title>80kg</ion-card-title>
          <ion-card-subtitle>Peso</ion-card-subtitle>
        
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        
          <ion-card-title>23</ion-card-title>
          <ion-card-subtitle>Idade</ion-card-subtitle>
        
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>