*{

}
.headerprincipal > ion-toolbar{
    --background:#ff0000;
    border-radius: 0px 0px 15px 15px;
  }
  .headerprincipal > ion-icon{
    --background: #fff;
  }

ion-content{
    --background: #0000;
    --color: white;
}


ion-item{
    --border-color:#ff0000;
    height: 50px;
    --color: black;
    --padding:20px;
    --margin-top:10px;
    --border-radius:15px;
    --border-style:none;
    
}
ion-select{
    color:#fff
}
ion-col{
    --ion-grid-column-padding:0px
}
ion-select{
    font-weight: bold;
}

  