<ion-header class="headerprincipal" [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="#" (click)="goBackPage()"></ion-back-button>
    <ion-title>Cartões</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">gerenciaDeCartoes</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-card-pagamento-ger-cartao></app-card-pagamento-ger-cartao>
  
  
  
</ion-content>
