<ion-header [translucent]="true" class="headerprincipal">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item slot="end">
      <ion-icon name="person-circle"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-menu menuId="first-menu" contentId="main-content">
  <ion-header class="headermenuopen">
    <ion-toolbar class="headermenuopentoolbar">
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding itensmenu">
    <ion-list>
      <div class="itemimgperfil" >
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="auto">
              <img  class="imgperfil"
              src="../../assets/img/cbum.jpg"
              alt="The Wisconsin State Capitol building in Madison, WI at night">
            </ion-col>
            <ion-col>
              <ion-title class="perfiltitle">Brendo Silva</ion-title>
              <ion-title class="perfiltitle">brendoricardogmail.com</ion-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <app-menu-lateral-atributos></app-menu-lateral-atributos>
      <ion-item href="../dados-pessoais/">
        <ion-icon color="white" aria-hidden="true" name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>Dados pessoais</ion-label>
      </ion-item>
      <ion-item href="../gerencia-de-cartoes/">
        <ion-icon color="white" aria-hidden="true" name="card" slot="start"></ion-icon>
        <ion-label>Avaliação física</ion-label>
      </ion-item>
      <ion-item href="../gerencia-de-cartoes/">
        <ion-icon color="white" aria-hidden="true" name="card" slot="start"></ion-icon>
        <ion-label>Gerenciar cartões</ion-label>
      </ion-item>
      <ion-item href="../login/">
        <ion-icon color="white" aria-hidden="true" name="exit" slot="start"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <p>Tap a button below to open a specific menu.</p>
    <ion-button expand="block" (click)="openFirstMenu()">Open First Menu</ion-button>
  </ion-content>
</div>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titleoffblack" color="white">PAINEL</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      25 de Setembro 
    </ion-card-content>
  </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <!-- O elemento canvas -->
          <canvas #lineChart></canvas>
        </ion-col>
      </ion-row>
    </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!--Cada card que irá aparecer-->
        <ion-card>
          <ion-row>
            <ion-col>
              <!--Cada elemento que irá aparecer por card-->
              <ion-card>
                <ion-card-title>THU</ion-card-title>
                <ion-card-subtitle>12</ion-card-subtitle>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card>
                <ion-card-title>Steps</ion-card-title>
                <ion-card-subtitle>1.212</ion-card-subtitle>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card>
                <ion-card-title>Duration</ion-card-title>
                
                <ion-card-subtitle> 1.212</ion-card-subtitle>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <!--Cada elemento que irá aparecer por card-->
              <ion-card>
                <ion-card-title>THU</ion-card-title>
                <ion-card-subtitle>12</ion-card-subtitle>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card>
                <ion-card-title>Steps</ion-card-title>
                <ion-card-subtitle>1.212</ion-card-subtitle>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card>
                <ion-card-title>Duration</ion-card-title>
                
                <ion-card-subtitle> 1.212</ion-card-subtitle>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <!--Cada elemento que irá aparecer por card-->
              <ion-card>
                <ion-card-title>THU</ion-card-title>
                <ion-card-subtitle>12</ion-card-subtitle>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card>
                <ion-card-title>Steps</ion-card-title>
                <ion-card-subtitle>1.212</ion-card-subtitle>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card>
                <ion-card-title>Duration</ion-card-title>
                
                <ion-card-subtitle> 1.212</ion-card-subtitle>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card>
        
      </ion-col>
      
    </ion-row>
  </ion-grid>
 

</ion-content>
