<ion-text color="light">
  <h1>Histórico de pagamento</h1>
</ion-text>

<ion-card class="first-card" >
  <ion-item>
  <ion-grid>

    <ion-row>
      
      <ion-col size="4">
        <ion-card-title class="card-pagamento" >
          {{mes}} 
        </ion-card-title>
      </ion-col>
      <ion-col  size="4">
        <ion-card-title class="card-pagamento" >
          {{diaVencimento}}/11
        </ion-card-title>
      </ion-col>
      <ion-col size="4">
        <ion-card-title class="card-pagamento">
          <ion-button class="button-pagar">Pagar</ion-button>
        </ion-card-title>
      </ion-col>
    
    </ion-row>
  </ion-grid>
</ion-item>

<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card-title>
          OUT 
        </ion-card-title>
      </ion-col>
      <ion-col size="4">
        <ion-card-title>
          20/10
        </ion-card-title>
      </ion-col>
      <ion-col size="4">
        <ion-card-title>
          <ion-text color="success">Pago</ion-text>
        </ion-card-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>


<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card-title>
          SET 
        </ion-card-title>
      </ion-col>
      <ion-col size="4">
        <ion-card-title>
          20/09
        </ion-card-title>
      </ion-col>
      <ion-col size="4">
        <ion-card-title>
          <ion-text color="success">Pago</ion-text>
        </ion-card-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>

<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card-title>
          AGO 
        </ion-card-title>
      </ion-col>
      <ion-col size="4">
        <ion-card-title>
          20/08
        </ion-card-title>
      </ion-col>
      <ion-col size="4">
        <ion-card-title>
          <ion-text color="success">Pago</ion-text>
        </ion-card-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>

<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card-title>
          JUL 
        </ion-card-title>
      </ion-col>
      <ion-col size="4">
        <ion-card-title>
          20/07
        </ion-card-title>
      </ion-col>
      <ion-col size="4">
        <ion-card-title>
          <ion-text color="success">Pago</ion-text>
        </ion-card-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>

<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card-title>
          JUN 
        </ion-card-title>
      </ion-col>
      <ion-col size="4">
        <ion-card-title>
          20/06
        </ion-card-title>
      </ion-col>
      <ion-col size="4">
        <ion-card-title>
          <ion-text color="success">Pago</ion-text>
        </ion-card-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>


</ion-card>
