.first-card{

    align-items: center;
}
.card-pagamento{
    color: #000;
}
ion-text >h1{
    padding-left: 12px;
}
ion-grid{
    background: #fff;
}
ion-grid > ion-row > ion-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-pagar{
    --background:#000000;
}
