<ion-header class="headerprincipal" [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="#" (click)="goBackPage()"></ion-back-button>
    <ion-title>Sobre Nós</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-list>
      <div class="imagem-container">
        <img  class="imagem-centralizada"
              src="../../assets/img/hebert.png"
              alt="The Wisconsin State Capitol building in Madison, WI at night">
              
      </div>
      <div class="imagem-container"><h1>Hebert Freitas</h1></div>
      <div class="imagem-container"><i>Desenvolvedor Full-stacks</i></div>
    
      <ion-item class="ion-item-redessociais">
        <a href="https://github.com/Hebertsfj"><ion-icon name="logo-github"></ion-icon></a>
        <a href="https://www.instagram.com/dev.hebertfreitas/"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="https://www.linkedin.com/in/hebert-sfreitas/"><ion-icon name="logo-linkedin"></ion-icon></a>
      </ion-item>
      
    </ion-list>
    <ion-list>
      <div class="imagem-container">
        <img  class="imagem-centralizada"
              src="../../assets/img/rics.png"
              alt="The Wisconsin State Capitol building in Madison, WI at night">
      </div>
      <div class="imagem-container"><h1>Ricardo Silva</h1></div>
      <div class="imagem-container"><i>Desenvolvedor Full-stacks</i></div>

      <ion-item class="ion-item-redessociais">
        <a href="https://github.com/BrendoRSS"><ion-icon name="logo-github" ></ion-icon></a>
        <a href="https://instagram.com/rics.dev"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="https://www.linkedin.com/in/rics-dev/"><ion-icon name="logo-linkedin"></ion-icon></a>
      </ion-item>
    </ion-list>
 
</ion-content>
